@charset "UTF-8";

/* 回答はここに書いてね */
.wrap__text-style {
  font-size: 16px;
  line-height: 16px;
}
.content {
  background-color: #eff3f4;
  margin:0;
  padding: 20px;
  width: 940px;
}
.clear-fix {
  content:"";
  clear:both;
  display:block;
  width: 940px;
}
.content__background-blue {
  background-color: #3274ae;
  float:left;
  margin-left: 20px;
  width:270px;
}
.content__frame-whiteblue {
  background-color: #eaf4ff;
  border: 10px solid #022336;
  margin:20px;
  padding: 20px;
}
/* 回答はここに書いてね */
