@charset "UTF-8";

/* 回答はここに書いてね */
.content__parallel_overflow {
  overflow: hidden;
}
.parallel-float {
  float:left;
  padding: 20px;
  margin:0;
  width:200px;
}
.parallel-float:first-child {
  margin-right: 50px;
}


.parallel-table {
  display: table;
}
.parallel-table_cell {
  display: table-cell;
  padding-left: 50px;
  width: 225px;
  vertical-align: middle;
  margin:0;
}
.parallel-table_cell:first-child {
  padding-left:0;
}


.parallel-inline-block {
  width:200px;
  display:inline-block;
  vertical-align: middle;
  margin:0;
}
.parallel-inline-block:first-child {
  margin-right: 50px;
}


.parallel-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.parallel-flex-box {
  width:200px;
}

.parallel-margin {
  width:100%;
  font-size: 0;
  box-sizing: border-box;
}
.parallel-margin_left {
  width:300px;
  font-size: 16px;
  display:inline-block;
  vertical-align: top;
}
.parallel-margin_right {
  width:100%;
  font-size: 16px;
  margin-left: -300px;
  padding-left: 350px;
  display:inline-block;
  box-sizing: border-box;
  vertical-align: top;
  
}
/* 回答はここに書いてね */
