@charset "UTF-8";

/* 回答はここに書いてね */
.content__table-layout {
  width:100%;
  table-layout:fixed;
  font-size: 18px;
  line-height: 26px;
}
.content__table-layout tr:nth-child(2n-1){
  background-color: #ecf1f2;/*1行おきに背景色変更*/
}
.content__table-layout tr:last-child {
  border-top: 2px dashed #000;/*最下セル破線上部*/
}
.content__table-layout td {
  border: 1px solid #dedede;
  font-size: 16px;
}
.content__table-layout th {
  border: 1px solid #dedede;
  background-color: #24a !important;
  color: #fff;
}
.content__sell {
  text-align: center;
}
.content__sell td {
  padding:9px 0;
  vertical-align: middle;
}
.content__sell th {
  padding:10px;
}
/* 回答はここに書いてね */
